#cron.loading{
    pointer-events: none;
    opacity: 0.8;
}
#heading .icons span{
    font-size: 12px;
    color: #FFF;
}
#settingsForm{
    padding: 20px;
}
#settingsForm .field:not(:first-child),
#settingsForm .field_group{
    margin-top: 20px;
}
#settingsForm .field_group.hidden{
    display: none;
}
#settingsForm .field label{
    display: block;
    widows: 100%;
    font-size: 12px;
    float: none;
    margin-bottom: 0;
}
#settingsForm .field input:not([type="checkbox"]),
#settingsForm .field select{
    -webkit-appearance: none;
    display: block;
    float: none;
    width: 100%;
    height: 20px;
    border: 0;
    border-bottom: 1px solid #2a454c;
    background-color: transparent;
    border-radius: 0;
}
#settingsForm .field select{
    margin-top: 5px;
    background: url("../../assets/img/down.svg")no-repeat center right 5px;
    background-size: 8px;
}
#settingsForm .field .legend{
    margin: 0;
    font-size: 9px;
    margin-top: 5px;
}
#saveSettings{
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}
#saveSettings path{
    transition: all 0.5s ease-in-out;
}
#saveSettings:hover path{
    fill: #2f8e73;
}